.quoteContainer{
  margin-bottom: 20px;
}

@media (max-width: 765px){
  .desktop .quoteBlock{
    height: 16.5rem !important;
  }
}

@media (min-width: 765px){
  .desktop .quoteBlock{
    height: 17rem !important;
  }
}


.mobile .quoteBlock{
  height: 250px !important;
  font-size: 1.5rem;
}

.quoteBlock{
  padding: 25px;
}

.quote-padding{
  position: relative;
  padding: 0.8em;
  padding-bottom: 1.15em;
  border-radius: 5px;
  border: 2px solid #e7e7e7;
  background: #e7e7e7;
  height: 100%;
}

.quote-padding:hover, .selected.quote-padding{
  border: 2px dotted #808080;
}

.quote{
  word-wrap: break-word;
}
.mobile{
  font-size: 2rem;
}

.date{
  position: absolute;
  bottom: 0.15em;
  right: 0.4em;
}
/* timepicker stuff */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }